.Salom {
  color: #34567897;
  font-size: 50px;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  text-align: left;
  text-decoration: underline;
}
.link {
  font-size: 50px;
  text-decoration: none;
  color: black;
}
.avaz {
  font-size: 50px;
  text-transform: lowercase;
  letter-spacing: 20px;
}
.orqaFon {
  width: 2000px;
  height: 1000px;
  background-color: rgb(255, 0, 0);
  margin: 500px;

  border: 100px solid rgb(251, 2, 255);
  padding: 200px;
  border-radius: 5000px;
  box-shadow: 10px 50px 100px black;
}
.rasm {
  width: 1000px;
  height: 1500px;
  background-image: url("./Sardor.png");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.9;
}
.Dadesh {
  display: flex;
}
