table,
tr,
td {
  border: 1px solid black;
  text-align: center;
  font-size: 20px;
}
table {
  width: 1000px;
  height: 500px;
}

#BirichiId {
  background-color: rgb(42, 165, 61);
}
.BirinchiClass {
  background-color: rgb(116, 232, 149);
}
.qizil {
  background-color: red;
}
